.buttonGroup {
    justify-content: space-between;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    height: 70px;
}

.button {
    min-width: 200px;
    background-color: var(--mantine-color-dark-5);
    color: var(--mantine-color-dark-0);
    font-weight: 400;
    border: 2px var(--mantine-color-dark-4) solid;
}

.button:hover {
    background-color: var(--mantine-color-dark-4);
}

.groupByOpened{
    border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
}

.groupByDropdown {
    /* border: none; */
    border-width: 2px;
    border-top: none;
    border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
    background-color: var(--mantine-color-dark-5);
}

.radioLabel {
    font-size: var(--mantine-font-size-md);
}
