#VMDataDisplay{
    flex: 1;
    display: grid;

    padding: 2vh;
    column-gap: 2vh;
    row-gap: 2vh;
}

#VMDataDisplay > * {
    background-color: var(--element-background-primary);
    border-radius: 1vh;
}

#VMDataDisplay button {
    font-size: medium;
    font-family: inherit;
    
}

/* PRIMARY INFO */

#VMDataDisplay > #PrimaryInfo {
    grid-column: 1;

    display: flex;
    flex-direction: column;    
    padding: 0.1rem 1rem;
}

#VMDataDisplay > #PrimaryInfo > .vm-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    padding-left: 0.5rem;
    margin-top: 2vh;
}

#VMDataDisplay > #PrimaryInfo > .vm-title > img {
    transform: translateY(0.25rem);
    height: 30px;
}

#VMDataDisplay > #PrimaryInfo > .vm-title > h1 {
    font-weight: 500;
}


/* PREVIEW */

#VMDataDisplay > #Preview {
    display: flex;
    
    grid-row: 1;
    grid-column: 2 / 5;
}

#VMDataDisplay > #Preview > iframe {
    flex: 1;
    border: none;
    border-radius: 1vh;
}


/* STATE */

#VMDataDisplay > #State { 
    grid-column: 1 / 5;
    grid-row: 2;

    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    padding: 0.1rem 1rem;
}