.pagePaper {
    display: flex;
    overflow: hidden;
    background-size: 80px 80px;
    background-image: linear-gradient(to right, var(--mantine-color-dark-6) 2px, transparent 2px), 
                      linear-gradient(to bottom, var(--mantine-color-dark-6) 2px, transparent 2px);
    background-position-x: 50%;
    background-position-y: 45px;

    flex: 1;
    margin: var(--mantine-spacing-lg);
    margin-top: 0;
}