.pagePaper {
    display: flex;
    overflow: hidden;
    background-color: transparent;

    flex: 1;
    margin: var(--mantine-spacing-lg);
    margin-top: 0;
}

.pageStack {
    flex: 1;
    gap: 0;
}

.scrollArea {
    flex: 1;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: 4;
}