.saveButton {
    transition: background-color 0.25s ease-out;
	
    &[data-disabled] {
		background-color: var(--mantine-color-suse-green-8);
        border-color: var(--mantine-color-suse-green-9);
        color: white;
    }

	&:not(&[data-disabled]){
		animation: pulse 2s infinite;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #424242cd;
	}

	70% {
		box-shadow: 0 0 0 10px #42424200;
	}

	100% {
		box-shadow: 0 0 0 0 #42424200;
	}
}
