#App #LoginPage {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    background-color: var(--background-color);
}

#App #LoginPage form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-shadow: 0 15px 35px var(--header-color);

    padding: 1rem;
    background-color: var(--header-color);
    border: 1rem solid var(--header-color);
    border-radius: 0.5vh;
    text-align: center;
    color: var(--text-secondary)
}

#App #LoginPage form .inputBox {
    position: relative;
    width: 100%;
}

#App #LoginPage form .inputBox input {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    border: none;
    outline: none;

    padding: 1.2rem 10px 7.5px;
    border-radius: 4px;

    color: var(--text-secondary);
    background: var(--line-color);
    font-weight: 500;
    font-size: 1rem;
    font-family: Office Code Pro;
}

#App #LoginPage form .inputBox i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 10px;
    transform: translateY(2px);

    font-style: normal;
    font-size: 1rem;
    color: var(--text-secondary);
    pointer-events: none;
    transition: all 0.2s linear;
}

#App #LoginPage form .inputBox input:focus ~ i, 
#App #LoginPage form .inputBox input:valid ~ i {
    transform: translateY(-8px);
    font-size: 0.7rem;
}

#App #LoginPage form .inputBox input[type="submit"] {
    width: fit-content;
    color: var(--text-secondary);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.7rem 1.4rem;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}

#App #LoginPage form .output {
    font-size: 0.8rem;
}