/* ############################## */
/* RESET PROPERTIES */
/* ############################## */

html, body, h1,h2,h3,h4,h5 {
    margin: 0;
}

a{
    color: var(--text-primary);
}

button{
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    font-family: Office Code Pro;
}

/* ############################## */
/* VARIABLES */
/* ############################## */

:root{
    --background-color: #d1d1d1;
    --nav-color: #dcdcdc;
    --header-color: #f05057;
    --line-color: #ff555b;
    --text-primary: #f05057;
    --text-secondary: #f9e3dc;
    
    --toggle-background: #f9e3dc;
    --toggle-main: #f05057;

    --element-background-primary: #dcdcdc;
    --element-background-secondary: #ece8e8;  

    --text-active: #09cb29;
        
    font-family: Office Code Pro;
    font-size: 24px;
}

[color-mode="dark"]{
    --background-color: #1f030a;
    --nav-color: #130206;
    --header-color: #050102;
    --line-color: #130206;
    --text-primary: #f2f2f2;
    --text-secondary: #f2f2f2;

    --toggle-background: #f9e3dc;
    --toggle-main: #050102;

    --element-background-primary: #2c0611;
    --element-background-secondary: #5e0f23;  

    --text-active: #37ff58;
}

/* ############################## */
/* CSS */
/* ############################## */

#App{
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    min-height: 100vh;

    background-color: var(--background-color);
    color: var(--text-primary);

    transition: background-color 250ms ease-in-out;
}

#App * {
    transition: background-color 250ms ease-in-out,
                border-color 250ms ease-in-out;
}

hr{
    border-radius: 10vh;
    border: solid var(--text-primary) 1.5px;
    opacity: 0.25;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
    min-height: 50px;

    background-color: var(--header-color);
    border-bottom: solid var(--line-color) 2.5px;
    color: var(--text-secondary);
}

main{
    display: flex;
}

main > nav{
    min-width: 250px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 10px;

    background-color: var(--nav-color);
}