@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Office Code Pro';
    src: url('/fonts/OfficeCodePro/OfficeCodePro-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode/Cascadia.ttf') format('truetype');
}
