.saveButton {
    transition: all 0.25s ease-out;

    &:disabled,
    &[data-disabled] {
      background-color: var(--mantine-color-suse-green-8);
      color: white;
    }
  }

.select * {
    font-family: 'FontAwesome', var(--mantine-font-family);
}