.connectionLinePath {
    fill: none;
    stroke: var(--mantine-primary-color-5);
    stroke-width: 1.5;
}

.connectionLineCircle {
    stroke:#fff;
    stroke-width: 1.5;
}

.edgePath {
    fill: none;
    stroke: var(--mantine-primary-color-7);
    stroke-width: 1.5;
}