/* CONNECTION */

.connectionLinePath {
    fill: none;
    stroke: var(--mantine-primary-color-5);
    stroke-width: 1.5;
}

.connectionLineCircle {
    stroke:#fff;
    stroke-width: 1.5;
}

/* EDGE */

.deleteButton {
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #141414;
    border: solid 1px var(--mantine-color-dark-2);
    color: var(--mantine-color-dark-2);
    z-index: 100;
}

.deleteButton:hover{
    border-color: var(--mantine-primary-color-4);
    color: var(--mantine-primary-color-4);
}
