.toggle-container{
    position: absolute;
}

.toggle{
    display: none;
}

.toggle + label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;
    color: var(--text-secondary)
}

.toggle + label::before{
    content: "";
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
    margin-right: 0.5rem;

    background-color: var(--toggle-background);

    transition: background-color 250ms ease-in-out;
}

.toggle + label::after{
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 1rem;

    background-color: var(--toggle-main);
    position: absolute;

    transition: transform 100ms ease-in-out;

    left: 0.2rem;
}

.toggle:checked + label::after{
    transform: translateX(100%);
}

